<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title></title>

</head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
<br/><br/>


<div ng-repeat="reservation in reservations">

  <div ng-if="reservation.ownerUsRes.id == Model.id">
    <div class="col-md-8 col-lg-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div style="font-style: oblique; color: #086e66; font-size: x-large;font-family: cambria">Informations concernant l'annonce
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger btn-rounded col-lg-offset-6" ng-click="delete(reservation)"><span
              class="fa fa-trash-o"></span>Annuler </button></div>


        </div>
        <div class="panel-body">
          <div col-md-5>

            <table class="table table-hover">
              <thead>
              <tr>
                <th>Date Départ</th>
                <th>Date Arrivée prévue</th>
                <th>Ville départ</th>
                <th>Ville arrivée</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><h4>{{reservation.ownerAn.dateDepart | date:'dd-mm-yyyy à HH:mm'}}</h4></td>
                <td><h4>{{reservation.ownerAn.dateArriveePrevue | date:'dd-MM-yyyy à HH:mm'}}</h4></td>
                <td><h4>{{reservation.ownerAn.villeDepart}}</h4></td>
                <td><h4>{{reservation.ownerAn.villeArrivee}}</h4></td>
              </tr></tbody></table>

            <div class="col-lg-offset-11 ">

              <ul class="pagination pagination-sm pull-right">

                <li><a href="#"><h5 style="font-style: oblique; font-family: cambria; font-size: x-large"><center>{{reservation.ownerAn.prixParPersonne * reservation.nbrePlaceRes}} MAD</h5></a></li>
              </ul>
            </div>
          </div>

          <br/><br/>
          <button class="btn btn-default btn-rounded col-lg-offset-0" data-toggle="collapse" data-target="#{{reservation.id}}"><span
            class="fa fa-arrow-down"></span>Informations concernant Votre réservation</button></div>
        <div id="{{reservation.id}}" class="collapse">
          <div>
            <div class="panel panel">
              <div class="panel-body">
                <div col-md-5>
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Date Réservation</th>
                      <th>Nombre de places réservées</th>
                      <th>Nombre de places restantes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><h4>{{reservation.dateReservation | date:'dd-mm-yyyy à HH:mm'}}</h4></td>
                      <td><h4>{{reservation.nbrePlaceRes}} place(s)</h4></td>
                      <td><h4>{{reservation.ownerAn.nbrePlace}} place(s)</h4></td>
                    </tr></tbody></table>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>


    </div>
  </div>
</div>




</body>
</html>
